<h1>StaticPages#home</h1>
<p> This is the home page for the
<a href="http://www.railstutorial.org">Ruby on Rails tutorial</a>sample application

<img src="http://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="width:104px;height:142px;">
</p>

